<h1 class="mt-5">Agregar Producto <small>{{texto1}}</small></h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre</label>
        </div>

        <div class="col-auto">
            <input class="form-control"
                   type="text"
                   formControlName="nombre">
        </div>

        <div class="col-auto">
            <span *ngIf="tieneErrores('nombre')"
                  errorMsg
                  [color]="color"
                  [mensaje]="texto1"
                  mensaje="Debe de ingresar este campo">

            </span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarNombre()">
                Guardar
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarColor()">
                Cambiar color
            </button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid : {{miFormulario.valid}}</pre>
<pre>Value : {{miFormulario.value | json}}</pre>